<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.muskan.medical_help">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Signup activity-->
        <activity android:name=".SignupActivity"
            android:label="Sign Up"
            android:parentActivityName=".SignupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignupActivity"/>
        </activity>

        <!--Login activity-->
        <activity android:name=".LoginActivity"
            android:label="Login"
            android:parentActivityName=".SignupActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignupActivity"/>
        </activity>

        <!--Dashboard ativity-->
        <activity android:name=".DashboardActivity"
            android:label="Dash Board"
            android:parentActivityName=".DashboardActivity">
        </activity>

        <!--Add Medicine activity-->
        <activity android:name=".AddMedicineActivity"
            android:label="Add Medicine"
            android:parentActivityName=".DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SignupActivity"/>
        </activity>

        <!--Logout ativity-->
        <activity android:name=".LogoutActivity"
            android:label="Logout"
            android:parentActivityName=".DashboardActivity">
        </activity>

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!--Facebook activity-->
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="Medical Helper" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>